<!DOCTYPE html>
<html>
<head>
  <title>УГК: <%= yield :title %></title>
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'administrative', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="teacher-container">
  <navbar class="container__navbar">
    <div class="navbar__header">
      <div><%= @current_user.email %></div>
      <div class="navbar__header__logout">
        <%= form_with url: logout_path do |form| %>
          <% form.submit 'Выйти' %>
        <% end %>
      </div>
    </div>
    <div class="navbar__content">
      <div class="navbar__content__filling">
        <%= link_to 'Главная', administrative_welcome_index_path %>
        <%= link_to 'Преподаватели', administrative_competence_index_path %>
      </div>
    </div>
  </navbar>

  <div class="teacher__content">
    <%= yield %>
  </div>
</div>
</body>
</html>